
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

}

.wrapper{
    max-width: 75%;
    margin: auto;
}

.wrapper > p, 
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;

}

.spn {
    color: #2BD232;
}
.wrapper > h1 {
    letter-spacing: 3px;
    color: black;
}

.accordion{
    background: white;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active, 
.accordion:hover{
    background-color: #66e207;
}

.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    justify-content: center;
    display: none;
    padding-top: 10px;
}

.faq{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}

.faq.active{
    border: none;
}

.pannel p{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.ts {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.bs {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

main ul.ts {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}

main ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}


:root{
    --primary: #2BD232;
    --bg: #ece8e1
    ;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(216, 211, 211); /* Tambahkan ini */
    padding: 1rem;
    position: sticky;
  }
  

  .logo-brand {
    margin-left: 20px;
      width: auto;
      height:40px;
      
    }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: 45.2rem;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li:last-child {
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    
    border-bottom: 2px solid transparent; /* Tambahkan ini */
  }
  nav ul li a:hover{
    text-decoration: none;
    border-bottom: 5px solid var(--primary); /* Tambahkan ini */
    padding-bottom: 1.6rem;
    color: #333;
  }
  .cta {
    display: flex;
    margin-left: 0px;
  }
  

  .cta .secondary-button {
    background-color: transparent;
    color: #4CAF50;
    padding: 0.5rem 1rem;
    border: 1px solid #4CAF50;
    border-radius: 4px;

  }
  .menu-cta-group {
    display: flex;
    align-items: center;
  }
  
  /* CSS */
.modal {
  
  display: none; /* Modal awalnya tersembunyi */
  position: fixed; /* Tetap berada di tempat saat di-scroll */
  z-index: 1; /* Berada di atas semua konten lain */
  left: 0;
  top: 0;
  width: 100%; /* Lebar penuh */
  height: 100%; /* Tinggi penuh */
  overflow: auto; /* Memungkinkan scroll jika diperlukan */
  background-color: rgb(0,0,0); /* Warna latar belakang */
  background-color: rgba(0,0,0,0.4); /* Warna latar belakang dengan sedikit transparansi */
}

  .modallogin {
    
    display: none; /* Modal awalnya tersembunyi */
    position: fixed; /* Tetap berada di tempat saat di-scroll */
    z-index: 1; /* Berada di atas semua konten lain */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: auto; /* Memungkinkan scroll jika diperlukan */
    background-color: rgb(0,0,0); /* Warna latar belakang */
    background-color: rgba(0,0,0,0.4); /* Warna latar belakang dengan sedikit transparansi */
  }

  .modallogin2 {
    
    display: none; /* Modal awalnya tersembunyi */
    position: fixed; /* Tetap berada di tempat saat di-scroll */
    z-index: 1; /* Berada di atas semua konten lain */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: auto; /* Memungkinkan scroll jika diperlukan */
    background-color: rgb(0,0,0); /* Warna latar belakang */
    background-color: rgba(0,0,0,0.4); /* Warna latar belakang dengan sedikit transparansi */
  }


.modal-content .nama{
  color: var(--primary);
  margin-bottom: 20px;
}
.modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% dari atas dan ditengah */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Lebar modal */
}

.modallogin-content .nama{
  color: var(--primary);
  margin-bottom: 20px;
}
.modallogin-content {

  border-radius: 0.25rem;
  background-color: #fefefe;
  margin: 15% auto; /* 15% dari atas dan ditengah */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Lebar modal */
}


.modallogin2-content .nama{
  color: var(--primary);
  margin-bottom: 20px;
}
.modallogin2-content {

  border-radius: 0.25rem;
  background-color: #fefefe;
  margin: 15% auto; /* 15% dari atas dan ditengah */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Lebar modal */
}


#login-btn-container{
  margin:auto;
  display: flex;
  justify-content: center;
}
#button-login{
  display: block;
  background-color: transparent;
    color: #4CAF50;
    padding: 0.5rem 1rem;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
  
    border-radius: 0.25rem;
    margin: auto;
    text-align: center;
}

#button-login3{
  display: block;
  background-color: transparent;
    color: #4CAF50;
    padding: 0.5rem 1rem;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
  
    border-radius: 0.25rem;
    margin: auto;
    text-align: center;
}

.login-w{
  text-align: center;
}

.register-e{
  color: var(--primary);
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tutup{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.tutup:hover,
.tutup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 
.tutup2{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.tutup2:hover,
.tutup2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.diskon {
  font-family: 'Lato', sans-serif;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
}

.original-price,
.discounted-price {
  font-size: 1.2em;
  text-decoration: line-through;
}

.discounted-price {
  color: #4d94ff;
}

.additional-info {
  font-size: 0.9em;
  color: #666;
}

.button {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
  padding: 0.5em 1em;
  background-color: #4d94ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #357dea;
}

:root{
  --primary: #2BD232;
  --bg: #ece8e1
  ;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(216, 211, 211); /* Tambahkan ini */
  padding: 10px;
 
}


.logo-brand {
  margin-left: 20px;
    width: auto;
    height:40px;
    
  }
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-left: 45.2rem;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:last-child {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  
  border-bottom: 2px solid transparent; /* Tambahkan ini */
}
nav ul li a:hover{
  text-decoration: none;
  border-bottom: 5px solid var(--primary); /* Tambahkan ini */
  padding-bottom: 1.6rem;
  color: #333;
}
.cta {
  display: flex;
  margin-left: 0px;
}


.cta .secondary-button {
  background-color: transparent;
  color: #4CAF50;
  padding: 0.5rem 1rem;
  border: 1px solid #4CAF50;
  border-radius: 4px;

}
.menu-cta-group {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

/* CSS */

#login-btn-container{
margin:auto;
display: flex;
justify-content: center;
}
#button-login{
display: block;
  background-color: #dcdcdc;
  color:rgb(164, 164, 164);
  padding: 0.5rem 1rem;
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
  
  border-radius: 0.25rem;
  margin: auto;
  text-align: center;
}

.login-w{
text-align: center;
}

.register-e{
color: var(--primary);
}



#phone{
width: 100%;
margin-top: 20px;
border-bottom: 1px solid black;
margin-left: auto;
margin-right:auto;
padding-bottom: 2px;
font-family: "Lato", sans-serif;
} 

#phone3{
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 2px;
  font-family: "Lato", sans-serif;
  } 

#pwd{
width: 100%;
margin-top: 20px;
border-bottom: 1px solid black;
padding-bottom: 2px;
margin-left: auto;
margin-right: auto;
}

#pwd3{
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  }
/* The Close Button */



footer {
  background-color: #f2f2f2;
  padding: 1rem;
  text-align: center;

}

.navbar .navbar-extra a{
  color: #fff;
  font-size: 24px; /* Increase the font size */
width: 40px; /* Adjust the width */
height: 40px; /* Adjust the height */
  margin: 0 0.5rem;

}
/* Tambahkan ini */

.navbar .navbar-extra a:hover{
  color: var(--primary);
}



/* Tambahkan ini */
#navbar {
  display: flex;
}
.hamburger {
  display: none;
}
/* Tambahkan ini */
.cta-hamburger-group {
  display: flex;
  align-items: center;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}  
.pencari-kos{
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .08);
  cursor: pointer;
  display: flex;
  padding: 16px;
}

.pemilik{
  
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .08);
  cursor: pointer;
  display: flex;
  padding: 16px;
}

#em {
  color: black;
  font-size: 13px;
  padding: 15px;
  display: none;
}
#emw {
  
  border-color: #ff818266;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #ffebe9;
  display: none;
}

#em1 {
  color: black;
  font-size: 13px;
  padding: 15px;
  display: none;
}
#emw1 {
  
  border-color: #ff818266;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #ffebe9;
  display: none;
}

@media screen and (max-width: 1190px) {
  #navbar {
    display: none;
  }

  .hamburger{
    display: block;
  }
  .secondary-button{
      display: none;
  }
}

@media screen and (max-width: 990px) {
  #navbar {
    display: none;
  }

  .hamburger{
    display: block;
  }
  .secondary-button{
      display: none;
  }
}


/* tablet */
@media (max-width: 768px){
  html{

      font-size: 76.5%;
  }


  #hamburger-box{
      display: block;
  }

  .navbar .navbar-nav{
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgb(255, 255, 255);
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
  }
  .navbar .navbar-nav.active{
      right: 0;
  }

  .navbar .navbar-nav a{
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5px;
      font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
      transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.25);
  }


}


/* hp */
@media (max-width: 450px){
  html {
      font-size: 45%;
  }
  .secondary-button{
      display: none;
  }
  .countdown-item .number{
      padding-top: -5px;
      font-size: 8px;
      padding-left: 3px;
 }
  .countdown-item{
      padding-right: 1px;
      padding-left: 1px;
  }
  .countdown-label{
      font-size: 6px;
      margin-left: 7px;
      margin-right: 6px;
  }
  .image-paragraph{
    width: 30px;
    height: 350px;
  }
  #search{
    font-size: 300%;
  }
  .bnn {
   margin-left: 70px; 
  }
  .info .paragraph-container{
    font-size: 10px;
  }
  .text1 p{
    font-size: 11.3px;
  }
}

/* Di dalam file CSS Anda */











@media screen and (max-width: 1190px) {
    #navbar {
      display: none;
    }
  
    .hamburger{
      display: block;
    }
    .secondary-button{
        display: none;
    }
  }

  @media screen and (max-width: 990px) {
    #navbar {
      display: none;
    }
  
    .hamburger{
      display: block;
    }
    .secondary-button{
        display: none;
    }
  }
  

/* tablet */
@media (max-width: 768px){
    html{

        font-size: 76.5%;
    }


    #hamburger-box{
        display: block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(255, 255, 255);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5px;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.25);
    }


}


/* hp */
@media (max-width: 450px){
    html {
        font-size: 45%;
    }
    .secondary-button{
        display: none;
    }
    .countdown-item .number{
        padding-top: -5px;
        font-size: 8px;
        padding-left: 3px;
   }
    .countdown-item{
        padding-right: 1px;
        padding-left: 1px;
    }
    .countdown-label{
        font-size: 6px;
        margin-left: 7px;
        margin-right: 6px;
    }
    .image-paragraph{
      width: 30px;
      height: 350px;
    }
    #search{
      font-size: 300%;
    }
    .bnn {
     margin-left: 70px; 
    }
    .info .paragraph-container{
      font-size: 10px;
    }
    .text1 p{
      font-size: 11.3px;
    }
}