:root{
    --primary: #2BD232;
    --bg: #ece8e1
    ;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}



body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(216, 211, 211); /* Tambahkan ini */
    padding: 1rem;
    margin-right: 0px;
    
    background: transparent;
  }
  
.logo-brand {
  margin-left: 20px;
    width: auto;
    height:40px;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: 45.2rem;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  nav ul li {
    margin-left: 1rem;
  }
  
  nav ul li:last-child {
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent; /* Tambahkan ini */
  }
  nav ul li a:hover{
    text-decoration: none;
    border-bottom: 5px solid var(--primary); /* Tambahkan ini */
    padding-bottom: 1.6rem;
    color: #333;
  }
  .cta {
    display: flex;
    margin-left: 90px;
  }
  

  .menu-cta-group {
    display: flex;
    align-items: center;
  }

  .regis-wrapper {
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80%;
    min-height: calc(100vh - 90px);
    padding: 48px 0;
}

.login-title{
    
    font-weight: 10rem;
    margin-bottom: 10px;
}



.form-login{
    margin-left: 8rem;
    padding: 1px;
    width: 250px;
   font-size: 15px;
    /* border: 2px solid black; */
}

label[for="name"]{
  font-size: 12px;
  font-weight: 700;
  max-width: 50%;
  height: 10px;
  margin-left: 2px;
  font-family: "Lato", sans-serif;
}

label[for="r-password2"],label[for="phone"] , label[for="email"], label[for="password"]{
  margin-top: 5px; /* adjust as needed */
  margin-left: 2px;
  font-size: 12px;
  font-weight: 700;
  max-width: 50%;
  height: 10px;
  font-family: "Lato", sans-serif;

}



#n-message, #r-message, #message2, #e-response, #p-response{
  color: red;
  font-size: 10px;
  padding-top: 0.5rem;

}

::placeholder{
  font-size: 10px;
  vertical-align: baseline;
  font-family: "Lato", sans-serif;
}


.input-n{
  margin-bottom: 15px;
  position: relative  ;
}

.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-wrapper input,
.password-wrapper i {
  vertical-align: middle;
}

.password-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-30%);
}


.input-n1{
  margin-bottom: 15px;
  margin-top: 25px;
}

input[type=text], input[type=password]{
  font-size: 10px;
  width: 100%; /* atau ukuran spesifik lainnya */
  border-radius: 0.25rem;
  padding: 8px 6px 8px 10px;
  border: 0.5px solid rgb(210, 210, 210);
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  
}

input[type=email], input[type=tel]{
  font-size: 10px;
  width: 100%; /* atau ukuran spesifik lainnya */
  border-radius: 0.25rem;
  padding: 8px 6px 8px 10px;
  border: 0.5px solid rgb(210, 210, 210);
  margin-top: 10px; 
  font-family: "Lato", sans-serif;
}



#button-login{
    padding: 10px;
    background-color: #dcdcdc;
    color: rgb(164, 164, 164);
    
    justify-content: center;
    width: 100%;
    border-radius: 0.25rem;
}



.button-container{
  margin-top: 30px;
}

.label-cover{
  font-weight: 700;
  color: #303030;
  height: auto;
  width: auto;
 
}

.label-cover1{
  font-weight: 700;
  color: #303030;
  height: auto;
  width: auto;
  
}

